<!doctype html>
<html lang="en">
<head>
	<title>Syahril Convo</title>
</head>
<body>
    <table id="student-list">
        <thead>
            <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Faculty</th>
                <th>Student ID</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach($unscanned_students as $i => $student) : ?>
                <tr data-student-id="<?= $student['student_id'] ?>">
                    <td><?= ($i+1) ?></td>
                    <td><?= $student['fullname'] ?></td>
                    <td><?= $student['faculty'] ?></td>
                    <td><?= $student['student_no'] ?></td>
                </tr>
            <?php endforeach ?>
        </tbody>
    </table>

    <hr>
    
    <table id="student-active">
        <thead>
            <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Faculty</th>
                <th>Student ID</th>
            </tr>
        </thead>
        <tbody>
            <!-- active student here -->
        </tbody>
    </table>

    <hr>

    <button type="button" id="scan">Scan</button>
    <button type="button" id="reset">Reset</button>
    
    <script src="template/js/index.js"></script>

</body>
</html>